.library-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.my-song-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1260px;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    /* height: 85vh; */
    /* margin-bottom: 47px; */
    background-color: white;
}

.library-album-img {
    width: 200px;
    height: 200px;
    border: .5px solid rgba(128, 128, 128, .5);
}

.library-album-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    width: 1260px;
}

.song-title {
    max-width: 200px;
}

.library-album-card {
    margin: 5px 2px;
    text-align: center;
    font-family: Overpass;
}

.library-header-div {
    text-align: center;
    background-color: white;
    height: 50px;
    padding-top: 10px;
    font-family: Overpass;
}
