.song-page-container {
    border: 1px solid red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;

}

.song-card {
    border: 2px dotted blue;

}

/* .song-img:hover {
    opacity: 75%;
} */


.fa-circle-play {
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 40%;
    color: #f50;
    cursor: pointer;
}

.fa-circle-play:hover {
    text-shadow: 2px;
}

.play-icon-div {
    display: none;
}

div.image-icon-holder:hover > div.play-icon-div {
    display: inline;
}
