.song-page-container {
    font-family: 'Overpass', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.song-card {
    background: linear-gradient(315deg, rgb(211, 176, 150) 0%, rgb(212, 110, 32) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 16px;
    height: 300px;
}

.title {
    background-color: black;
    color: white;
    width: fit-content;
    font-size: 24px;
    line-height: 37px;
}

.song-img {
    background-color: black;
}

.song-img:hover {
    opacity: 75%;
}

.fa-circle-play {
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 40%;
    color: #f50;
    cursor: pointer;
}

.play-icon-div {
    display: none;
}

div.image-icon-holder:hover > div.play-icon-div {
    display: inline;
}

.song-comment {
    font-size: 14px;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
}

.post-comment-button {
    border-radius: 2px;
    border: 1px solid gray;
    background-color: white;
    margin-left: 5px;
}

.post-comment-button:hover {
    box-shadow: .5px .5px .5px .5px;
}

.comment-textarea {
    font-family:  'Overpass', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 20px;
    border-radius: 4px;
    font-size: 14px;
    width: 400px;
    padding-top: 7px;
}

.comment-textarea:focus {
    outline: none;
}


.comment-section {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.comment-list {
    /* border: 1px solid blue; */
    font-size: 14px;
    list-style: none;
    max-width: 50%;
}

.single-comment {
    border: .5px solid grey;
    border-radius: 3px;
    max-width: fit-content;
    padding: 10px;
    margin: 10px 0px;

}

/* .single-comment:hover {
    background-color: rgba(243, 210, 186, 0.646);
} */

.comment-header-div {
    margin-left: 20px;
}

.time-stamp {
    margin-top: 2px;
    font-style: italic;
}
